{% schema %}
    // Paste the modified JSON structure here
  {% endschema %}
  
  {% stylesheet %}
  /* Add any custom CSS here */
  {% endstylesheet %}
  
  {% javascript %}
  /* Add any custom JavaScript here */
  {% endjavascript %}
  
  <div class="bg-red-500">
    <h1>Hallo</h1>
    
  </div>