{% javascript  %} 

const linkWebshopElement = document.querySelector('#webshop'); // Replace with your actual class or ID
linkWebshopElement.addEventListener('touchstart', function(event) {
    window.location.href = '/collections'; // Redirect to the link's href attribute
});


const linkRentalElement = document.querySelector('#rental'); // Replace with your actual class or ID
linkRentalElement.addEventListener('touchstart', function(event) {
    window.location.href = '/pages/rental'; // Redirect to the link's href attribute
});

const linkRealisationsElement = document.querySelector('#realisations'); // Replace with your actual class or ID
linkRealisationsElement.addEventListener('touchstart', function(event) {
    window.location.href = '/pages/contact'; // Redirect to the link's href attribute
});

{% endjavascript %}

<main class="twcss-flex twcss-flex-col lg:twcss-flex-row twcss-h-screen lg:twcss-h-auto twcss-relative twcss-overflow-hidden">

    <style> 
        /* Better way of hiding something on Home Page? */
        .drawer {
            display: none;
        }
    </style>

  <img src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/logo-white.png?v=1702892053" class="twcss-h-48 lg:twcss-h-72 twcss-z-100 twcss-fixed twcss-left-1/2 -twcss-translate-x-1/2 !twcss-font-bold !twcss-text-white twcss-z-50 twcss-text-6xl lg:twcss-text-7xl twcss-top-10" />
    

  <a href="/" id="webshop" class="lg:twcss-h-screen twcss-h-1/3 twcss-relative twcss-cursor-pointer lg:twcss-w-1/3 lg:hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative twcss-w-full twcss-h-full">
          <img src="https://ethernum.nwnsoftware.be/storage/images/webshop.webp" alt="webshop" class="twcss-w-full twcss-h-full lg:twcss-h-screen twcss-object-cover twcss-transition-all twcss-duration-1000" />
          <span class="twcss-w-full twcss-h-full lg:twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-6">
          <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">Webshop</h2>
          <div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Coming soon 
					</button>
					</div>
      </figcaption>
  </a>

  <a href="/pages/verhuur" id="rental" class="lg:twcss-h-screen twcss-h-1/3 twcss-relative twcss-cursor-pointer lg:twcss-w-1/3 lg:hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative twcss-w-full twcss-h-full">
          <img src="https://ethernum.nwnsoftware.be/storage/images/rental.webp" alt="rental" class="twcss-w-full twcss-h-full lg:twcss-h-screen twcss-object-cover twcss-transition-all twcss-duration-1000" />
          <span class="twcss-w-full twcss-h-full lg:twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-6">
          <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">Verhuur</h2>
          <div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Ga verder 
					</button>
					</div>
      </figcaption>
  </a>

  <a href="/pages/contact" id="realisations" class="lg:twcss-h-screen twcss-h-1/3 twcss-relative twcss-cursor-pointer lg:twcss-w-1/3 lg:hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative twcss-w-full twcss-h-full">
          <img src="https://ethernum.nwnsoftware.be/storage/images/projects.webp" alt="realisations" class="twcss-w-full twcss-h-full lg:twcss-h-screen  twcss-object-cover twcss-transition-all twcss-duration-1000" />
          <span class="twcss-w-full twcss-h-full lg:twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-6">
            <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">
            Project- <br>ontwikkeling
          </h2>
          <div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Ga verder 
					</button>
					</div>
      </figcaption>
  </a>
</main>