<main class="twcss-flex twcss-relative">

    <style> 
        /* Better way of hiding something on Home Page? */
        .drawer {
            display: none;
        }
    </style>

  <h1 class="twcss-fixed twcss-left-1/2 -twcss-translate-x-1/2 !twcss-font-bold !twcss-text-white twcss-z-50 twcss-text-7xl twcss-top-12">
    ETHERNUM
  </h1>

  <a href="/collections/all" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="webshop" class="twcss-h-screen twcss-object-cover" />
          <span class="twcss-w-full twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-4">
          <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">Webshop</h2>
          <div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Ga verder 
					</button>
					</div>
      </figcaption>
  </a>

  <a href="#" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/rental.webp" alt="verhuur" class="twcss-h-screen twcss-object-cover" />
          <span class="twcss-w-full twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-4">
          <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">Verhuur</h2>
          <div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Ga verder 
					</button>
					</div>
      </figcaption>
  </a>

  <a href="/pages/contact" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/realisations.webp" alt="projectontwikkeling" class="twcss-h-screen twcss-object-cover" />
          <span class="twcss-w-full twcss-h-screen twcss-bg-slate-900/30 group-hover:twcss-bg-slate-900/0 twcss-absolute twcss-top-0 twcss-transition twcss-duration-700"></span>
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20 twcss-flex twcss-items-center twcss-space-x-4">
          <h2 class="!twcss-text-white !twcss-font-bold twcss-text-5xl">Projectontwikkeling</h2>
					<div class="twcss-translate-y-8 group-hover:twcss-translate-y-0 twcss-transition twcss-duration-700 twcss-opacity-0 group-hover:twcss-opacity-100">
            <button class="twcss-bg-blue-500 hover:twcss-bg-blue-600 twcss-p-4 -twcss-skew-x-12 hover:twcss-skew-x-0 twcss-transition twcss-duration-500">Ga verder 
					</button>
					</div>
      </figcaption>
  </a>



</main>