<main class="twcss-flex twcss-relative">
  <h1 class="twcss-fixed twcss-left-1/2 -twcss-translate-x-1/2 !twcss-font-bold !twcss-text-white twcss-z-50 twcss-text-4xl twcss-top-12">
    ETHERNUM
  </h1>

 

  <a href="/collections/all" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="/assets/shop-2.webp" alt="Hallo" class="twcss-h-screen twcss-object-cover twcss-opacity-90 hover:twcss-opacity-100" />
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-text-5xl twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20">
          <h2 class="!twcss-text-white !twcss-font-bold">Webshop</h2>
      </figcaption>
  </a>

  <a href="#" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="/assets/event-5.webp" alt="Hallo" class="twcss-h-screen twcss-object-cover twcss-opacity-90 hover:twcss-opacity-100" />
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-text-5xl twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20">
          <h2 class="!twcss-text-white !twcss-font-bold">Webshop</h2>
      </figcaption>
  </a>

  <a href="#" class="twcss-h-screen twcss-relative twcss-cursor-pointer twcss-w-1/3 hover:twcss-w-1/2 twcss-group twcss-transition-all twcss-duration-1000">
      <figure class="twcss-relative">
          <img src="/assets/dj.webp" alt="Hallo" class="twcss-h-screen twcss-object-cover twcss-opacity-90 hover:twcss-opacity-100" />
      </figure>
      <figcaption class="twcss-absolute !twcss-bottom-12 twcss-transform twcss-w-full twcss-px-12 !twcss-text-white twcss-text-5xl twcss-uppercase twcss-font-bold twcss-font-jomhuria twcss-tracking-wider twcss-transition-opacity twcss-duration-300 twcss-z-20">
          <h2 class="!twcss-text-white !twcss-font-bold">Webshop</h2>
      </figcaption>
  </a>



</main>