<div class=" twcss-px-5 lg:twcss-px-24 twcss-py-12 twcss-flex  twcss-gap-4">


    <div class="twcss-w-full twcss-h-full">
        <div class="twcss-relative twcss-max-w-lg twcss-h-[400px] twcss-rounded twcss-overflow-hidden twcss-shadow-lg twcss-group " >
            <img class=" twcss-absolute twcss-w-full twcss-object-cover twcss-h-full" src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="Sunset in the mountains">
        
            <div class=" twcss-absolute twcss-bottom-0 twcss-w-full twcss-px-5 twcss-py-10 twcss-pt-20 " style="background: rgba(0,0,0,0.7);clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0 100%);">
                    <h2 class="twcss-text-4xl twcss-font-semibold twcss-text-white twcss-uppercase ">Realisatie naam</h2>
                    <p class="twcss-text-gray-300 twcss-text-3xl twcss-mt-1 ">14 nov. 2023</p>

                    <p class="twcss-text-white twcss-text-2xl twcss-mt-3 twcss-leading-relaxed twcss-text-transparent group-hover:twcss-text-white twcss-h-0 group-hover:twcss-h-[175px] twcss-transition-all twcss-duration-700  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a ex est, in delectus maxime, exercitationem magnam minima officiis adipisci temporibus placeat earum, libero quae quam ipsam nisi eos beatae!</p>
            </div>
        </div>
    </div>



    <div class="twcss-w-full twcss-h-full">
        <div class="twcss-relative twcss-max-w-lg twcss-h-[400px] twcss-rounded twcss-overflow-hidden twcss-shadow-lg twcss-group " >
            <img class=" twcss-absolute twcss-w-full twcss-object-cover twcss-h-full" src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="Sunset in the mountains">
        
            <div class=" twcss-absolute twcss-bottom-0 twcss-w-full twcss-px-5 twcss-py-10 twcss-pt-20 " style="background: rgba(0,0,0,0.7);clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0 100%);">
                    <h2 class="twcss-text-4xl twcss-font-semibold twcss-text-white twcss-uppercase ">Realisatie naam</h2>
                    <p class="twcss-text-gray-300 twcss-text-3xl twcss-mt-1 ">14 nov. 2023</p>

                    <p class="twcss-text-white twcss-text-2xl twcss-mt-3 twcss-leading-relaxed twcss-text-transparent group-hover:twcss-text-white twcss-h-0 group-hover:twcss-h-[175px] twcss-transition-all twcss-duration-700  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a ex est, in delectus maxime, exercitationem magnam minima officiis adipisci temporibus placeat earum, libero quae quam ipsam nisi eos beatae!</p>
            </div>
        </div>
    </div>


    <div class="twcss-w-full twcss-h-full">
        <div class="twcss-relative twcss-max-w-lg twcss-h-[400px] twcss-rounded twcss-overflow-hidden twcss-shadow-lg twcss-group " >
            <img class=" twcss-absolute twcss-w-full twcss-object-cover twcss-h-full" src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="Sunset in the mountains">
        
            <div class=" twcss-absolute twcss-bottom-0 twcss-w-full twcss-px-5 twcss-py-10 twcss-pt-20 " style="background: rgba(0,0,0,0.7);clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0 100%);">
                    <h2 class="twcss-text-4xl twcss-font-semibold twcss-text-white twcss-uppercase ">Realisatie naam</h2>
                    <p class="twcss-text-gray-300 twcss-text-3xl twcss-mt-1 ">14 nov. 2023</p>

                    <p class="twcss-text-white twcss-text-2xl twcss-mt-3 twcss-leading-relaxed twcss-text-transparent group-hover:twcss-text-white twcss-h-0 group-hover:twcss-h-[175px] twcss-transition-all twcss-duration-700  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a ex est, in delectus maxime, exercitationem magnam minima officiis adipisci temporibus placeat earum, libero quae quam ipsam nisi eos beatae!</p>
            </div>
        </div>
    </div>


    <div class="twcss-w-full twcss-h-full">
        <div class="twcss-relative twcss-max-w-lg twcss-h-[400px] twcss-rounded twcss-overflow-hidden twcss-shadow-lg twcss-group " >
            <img class=" twcss-absolute twcss-w-full twcss-object-cover twcss-h-full" src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="Sunset in the mountains">
        
            <div class=" twcss-absolute twcss-bottom-0 twcss-w-full twcss-px-5 twcss-py-10 twcss-pt-20 " style="background: rgba(0,0,0,0.7);clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0 100%);">
                    <h2 class="twcss-text-4xl twcss-font-semibold twcss-text-white twcss-uppercase ">Realisatie naam</h2>
                    <p class="twcss-text-gray-300 twcss-text-3xl twcss-mt-1 ">14 nov. 2023</p>

                    <p class="twcss-text-white twcss-text-2xl twcss-mt-3 twcss-leading-relaxed twcss-text-transparent group-hover:twcss-text-white twcss-h-0 group-hover:twcss-h-[175px] twcss-transition-all twcss-duration-700  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a ex est, in delectus maxime, exercitationem magnam minima officiis adipisci temporibus placeat earum, libero quae quam ipsam nisi eos beatae!</p>
            </div>
        </div>
    </div>

    <div class="twcss-w-full twcss-h-full">
        <div class="twcss-relative twcss-max-w-lg twcss-h-[400px] twcss-rounded twcss-overflow-hidden twcss-shadow-lg twcss-group " >
            <img class=" twcss-absolute twcss-w-full twcss-object-cover twcss-h-full" src="https://cdn.shopify.com/s/files/1/0792/2381/6524/files/webshop.webp" alt="Sunset in the mountains">
        
            <div class=" twcss-absolute twcss-bottom-0 twcss-w-full twcss-px-5 twcss-py-10 twcss-pt-20 " style="background: rgba(0,0,0,0.7);clip-path: polygon(0 0, 100% 4rem, 100% 100%, 0 100%);">
                    <h2 class="twcss-text-4xl twcss-font-semibold twcss-text-white twcss-uppercase ">Realisatie naam</h2>
                    <p class="twcss-text-gray-300 twcss-text-3xl twcss-mt-1 ">14 nov. 2023</p>

                    <p class="twcss-text-white twcss-text-2xl twcss-mt-3 twcss-leading-relaxed twcss-text-transparent group-hover:twcss-text-white twcss-h-0 group-hover:twcss-h-[175px] twcss-transition-all twcss-duration-700  ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a ex est, in delectus maxime, exercitationem magnam minima officiis adipisci temporibus placeat earum, libero quae quam ipsam nisi eos beatae!</p>
            </div>
        </div>
    </div>



</div>