{% javascript %}
  let imageGallery;
  let title;
  let description;
  let productModal;

  function init() {
    const urlParams = new URLSearchParams(window.location.search);
    const projectId = urlParams.get('project');
    imageGallery = document.querySelector("#nwn-image-gallery");
    description = document.querySelector("#product-info");
    title = document.querySelector("#product-title");
    productModal = document.querySelector("#product-modal");
    fetchProject(projectId);
  }

  function fetchProject(id) {
    fetch(`https://ethernum.nwnsoftware.be/api/realisations/${id}`) // Replace with the URL provided by your Shopify app or middleware
      .then(response => response.json())
      .then(data => {
        console.log('data', data);
        /* saveToLocalStorage('realisations', data, 1000 * 60 * 60 * 24); 
        createSwiperSlides(data); */
        let html = "";
        let modalHtml = "";

        console.log('test');
        // TODO: Add thumbnail to images here
        html += getImageHtml(data.thumbnail.url);
        modalHtml += getModalHtml(data.thumbnail.url, data.title);

        data.images.forEach((image) => {
          html += getImageHtml(image.url, image.alt);
          modalHtml += getModalHtml(image.url, image.alt);
        });
        imageGallery.innerHTML = html;
        description.innerHTML = data.description;
        title.innerHTML = data.title;
        productModal.innerHTML = modalHtml;
      })
      .catch(error => console.error('Error:', error));
  }

  function getModalHtml(imageUrl, alt) {
    return `<img class="global-media-settings global-media-settings--no-shadow" srcset="${imageUrl}" alt="${alt}" />`;
  }

  function getImageHtml(imageUrl, alt) {
    return `
    <li id="Slide-template--20268139872588__main-45113543688524" class="product__media-item grid__item slider__slide is-active scroll-trigger animate--fade-in" data-media-id="template--20268139872588__main-45113543688524">
      <div class="product-media-container media-type-image media-fit-contain global-media-settings gradient constrain-height" style="--ratio: 1.5; --preview-ratio: 1.5;">
        <noscript>
          <div class="product__media media">
            <img src="${imageUrl}" alt="${alt}" width="1946" height="1297" sizes="(min-width: 1200px) 715px, (min-width: 990px) calc(65.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
          </div>
        </noscript>
        <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-template--20268139872588__main">
          <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--lightbox" aria-hidden="true">
            <svg aria-hidden="true" focusable="false" class="icon icon-plus" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z" fill="currentColor"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z" fill="currentColor"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z" fill="currentColor"></path>
            </svg>
          </span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="4" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
          <div class="product__media media media--transparent">
            <img src="${imageUrl}" alt="${alt}" width="1946" height="1297" class="image-magnify-lightbox" sizes="(min-width: 1200px) 715px, (min-width: 990px) calc(65.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)">
          </div>
          <button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="45113543688524">
          <span class="visually-hidden">
          Media 1 openen in modaal
          </span>
          </button>
        </modal-opener>
      </div>
    </li>
    `;
  }
  document.addEventListener('DOMContentLoaded', () => {
    init();
  });

{% endjavascript %}
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <section id="shopify-section-template--20268139872588__main" class="shopify-section section">
      <section id="MainProduct-template--20268139872588__main" class="page-width section-template--20268139872588__main-padding" data-section="template--20268139872588__main">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/section-main-product.css?v=149518454282510145501701096400" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-accordion.css?v=180964204318874863811701096400" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-price.css?v=70172745017360139101701096401" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-slider.css?v=2755748339419356901701096404" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-rating.css?v=132946792511282047701701096401" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-loading-overlay.css?v=58800470094666109841701096403" rel="stylesheet" type="text/css" media="all">
        <link href="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/component-deferred-media.css?v=58154447184650310061701096396" rel="stylesheet" type="text/css" media="all">
        <style data-shopify="">.section-template--20268139872588__main-padding {
          padding-top: 27px;
          padding-bottom: 9px;
          }
          @media screen and (min-width: 750px) {
          .section-template--20268139872588__main-padding {
          padding-top: 36px;
          padding-bottom: 12px;
          }
          }
        </style>
        <script src="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/product-info.js?v=66221267807649136831701096402" defer="defer"></script>
        <script src="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/product-form.js?v=111103202726528525511701096402" defer="defer"></script>
        <div class="product product--left product--stacked product--mobile-hide grid grid--1-col grid--2-col-tablet">
          <div class="grid__item product__media-wrapper">
            <media-gallery id="MediaGallery-template--20268139872588__main" role="region" class="product__column-sticky" aria-label="Gallery-weergave" data-desktop-layout="stacked">
              <div id="GalleryStatus-template--20268139872588__main" class="visually-hidden" role="status"></div>
              <slider-component id="GalleryViewer-template--20268139872588__main" class="slider-mobile-gutter">
                <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-template--20268139872588__main">
                Ga direct naar productinformatie
                </a>
                <ul id="nwn-image-gallery" class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile" role="list">
                  {% comment %} IMAGES COME HERE {% endcomment %}
                </ul>
              </slider-component>

              
            </media-gallery>

            

          </div>
          <div class="product__info-wrapper grid__item scroll-trigger animate--slide-in">
            <product-info id="ProductInfo-template--20268139872588__main" data-section="template--20268139872588__main" data-url="/products/copy-of-sample-coconut-bar-soap-1" class="product__info-container product__column-sticky">
              <p class="product__text inline-richtext caption-with-letter-spacing">Ethernum</p>
              <div class="product__title">
                <h1 id="product-title"></h1>
              </div>
              </noscript>
              <div>
              </div>
              <div class="product__description rte quick-add-hidden" id="product-info">
              </div>
            </product-info>
          </div>
        </div>

        <product-modal id="ProductModal-template--20268139872588__main" class="product-media-modal media-modal" >
                  <div class="product-media-modal__dialog" role="dialog" aria-label="Mediagalerij" aria-modal="true" tabindex="-1">
                    <button id="ModalClose-template--20268139872588__main" type="button" class="product-media-modal__toggle" aria-label="Sluiten">
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                </path></svg>

                    </button>

                    <div class="product-media-modal__content color-background-1 gradient" role="document" aria-label="Mediagalerij" id="product-modal" tabindex="0">
                  </div>
        </product-modal>
        <script src="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/product-modal.js?v=132575917445348640851701096402" defer="defer"></script>
        <script src="//aebd55-3.myshopify.com/cdn/shop/t/2/assets/media-gallery.js?v=95758955085303843141701096400" defer="defer"></script><script>
          document.addEventListener('DOMContentLoaded', function () {
            function isIE() {
              const ua = window.navigator.userAgent;
              const msie = ua.indexOf('MSIE ');
              const trident = ua.indexOf('Trident/');
          
              return msie > 0 || trident > 0;
            }
          
            if (!isIE()) return;
            const hiddenInput = document.querySelector('#product-form-template--20268139872588__main input[name="id"]');
            const noScriptInputWrapper = document.createElement('div');
            const variantSwitcher =
              document.querySelector('variant-radios[data-section="template--20268139872588__main"]') ||
              document.querySelector('variant-selects[data-section="template--20268139872588__main"]');
            noScriptInputWrapper.innerHTML = document.querySelector(
              '.product-form__noscript-wrapper-template--20268139872588__main'
            ).textContent;
            variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;
          
            document.querySelector('#Variants-template--20268139872588__main').addEventListener('change', function (event) {
              hiddenInput.value = event.currentTarget.value;
            });
          });
        </script>
      </section>
    </section>
  </main>